#bg-img {
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-trans {
    background-color: rgb(0,0,0,0.7);
}
.cursor-pointer {
    cursor: pointer;
}
.footer1 {
    background-color: rgb(27, 24, 39);
}
.footer2 {
    background-color: rgb(20, 18, 29);
}
.cardImg {
    height: 180px;
    width: 170px;
}
.proImg {
    height: 200px;
    width: 200px;
}
.input-email {
    background-color: rgb(20, 18, 29);
    height: 26px;
    border-radius: 10rem;
}
.input-go {
    background-color: cornflowerblue;
    height: 26px;
    border-radius: 10rem;
}
.input-email:hover, .input-go:hover {
    height: 28px;
}
.text-blue {
    color: cornflowerblue;
}
.float-right {
    float: right;
}
.text-align-initial {
    text-align: initial;
}
.font-size-hover-18:hover {
    font-size: 18px;
    color: blue;
}
.rounded-lg {
    border: 1px solid rgb(15, 79, 119);
    border-radius: 20rem;
}
.border-go {
    border: 1px solid rgb(15, 79, 119);
    height: 26px;
}
.lines {
    height: 1px;
    line-height: 0px;
}
.lines::after, .lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    background-color: lightslategray;
    width: 48%;
}
.lines::after {
    left: 0;
}
.lines::before {
    right: 0;
}
.font-size-12 {
    font-size: 12px;
}